<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019.  All Rights Reserved for Geeks Empire.
  ~ Created by Elias Fazel on 11/11/19 6:09 PM
  ~ Last modified 11/11/19 6:08 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.geeksempire.physics.animation"
          android:versionCode="1"
          android:versionName="1.0">
</manifest>
